/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  
  /* Main container */
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
  }
  
  .form-div {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    border: 10px;
  }
  
  .title {
    color: #154ab6;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .description {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  form {
    display: block;
    flex-direction: row;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-bottom: 20px;
  }
  
  .location {
    margin-bottom: 20px;
    margin-right: 20px;
    
  }


  
  .booking-button {
    background-color: #154ab6;
    border: 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 30px;
    max-width: 180px;
    transition: background-color 0.2s ease-in-out;
    display: block;
    
  }
  
  .booking-button:hover {
    background-color: #0e336c;
  }
  
  .map-div {
    margin: 20px auto;
    

  }
