on:
  push:
    branches: [ "server" ]
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: nvmwarehouseautomation    # set this to your application's name
  AZURE_WEBAPP_PACKAGE_PATH: 'serving'      # set this to the path to your web app project, defaults to the repository root
  NODE_VERSION: '18.x'                # set this to the node version to use

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'npm'
        cache-dependency-path: serving/package-lock.json

    - name: npm install
      working-directory: './${{ env.AZURE_WEBAPP_PACKAGE_PATH }}'
      run: |
        npm install
    
    - name: Zip artifact for deployment
        run:  7z a release.zip ./${{ env.AZURE_WEBAPP_PACKAGE_PATH }} -r
        
    - name: Upload artifact for deployment job
      uses: actions/upload-artifact@v3
      with:
        name: node-app
        path: .

  deploy:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Development'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@v3
      with:
        name: node-app

    - name: unzip artifact for deployment
        run: 7z x release.zip

    - name: 'Deploy to Azure WebApp'
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE_SERVER }}
        package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}